body {
  font-family: Arial, sans-serif;
  background-color: #7022c9;
  color: #0C0B0B;
  line-height: 1.6;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ececec;
  padding: 30px;
  box-shadow: 0 0 10px rgba(237, 75, 208, 0.377);
}
h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #0C0B0B;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0C0B0B;
}
h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #0C0B0B;
}
p {
  margin: 5px 0;
}
ul {
  margin: 10px 0;
  padding-left: 20px;
}
ul li {
  list-style: disc;
  margin-bottom: 10px;
}
.section {
  margin-bottom: 30px;
}
.section:last-child {
  margin-bottom: 0;
}
.section-title {
  margin-bottom: 15px;
  display: inline-block;
  border-bottom: 2px solid #9d26b8;
  padding-bottom: 5px;
}
.section-content {
  padding-left: 20px;
}
.section-content p {
  margin-bottom: 10px;
}
.section-content ul {
  list-style: circle;
}
.profile-img {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.profile-img img {
  width: 200px;
  height: auto;
}

.image-container {
  position: relative;
  display: inline-block;
}

.zoomed-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c39def;
  z-index: 999;
  text-align: center;
}

.zoomed-image img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  margin-top: 5%;
  border: 1px solid black;
}

#summary {
  height: screen;
  max-width: 150px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #e4deec;
  box-shadow: 0 2px 4px rgba(237, 75, 208, 0.377);
  z-index: 1;
}

a:hover {
  color: blueviolet; /* Cor do link quando o mouse está sobre ele */
}

a:active {
  color: rgb(162, 12, 237); /* Cor do link quando ele está sendo clicado */
}
